//Variables

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-header-location: black;
$color-black: #000;
$color-grey: #eaeaea;
$color-grey-2: #ffffff;

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin: auto;
}

.main__container {
  width: 100%;
  max-width: 375px;
  /*padding: 0 50px;*/
  box-sizing: border-box;
  background-color: $color-primary;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 113px;
    background-color: $color-grey-2;
  }

  .header--logo {
    height: 63px;
    img {
      position: relative;
      width: 197px;
      height: 36px;
      top: 14px;
    }
  }

  .location {
    width: 100%;
    background-color: $color-grey;
    ul {
      text-align: center;
      padding: 0;
      list-style: none;
      i {
        margin: auto;
        padding-right: 10px;
      }
    }
  }
}
