//Variables

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-header-location: black;
$color-black: #000;
$color-grey: #eaeaea;
$color-grey-2: #ffffff;
$color-grey-darken: lighten($color-grey, 5%);
@mixin box-shadow($param) {
  box-shadow: $param;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.main__container {
  width: 100%;
  max-width: 375px;
  /*padding: 0 50px;*/
  box-sizing: border-box;
  /*background-color: $color-primary;*/
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 113px;
  background-color: $color-grey-2;
}

.header--logo {
  height: 63px;
  img {
    position: relative;
    width: 197px;
    height: 36px;
    top: 14px;
  }
}

.location {
  width: 100%;
  background-color: $color-grey;
  ul {
    text-align: center;
    padding: 0;
    list-style: none;
    i {
      margin: auto;
      padding-right: 10px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: $color-grey-darken;
  opacity: 0.8;
  padding-bottom: 50px;
  p {
    max-width: 315px;
    font-size: 18px;
  }
  h1 {
    max-width: 275px;
  }

  &__button {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(360deg, #9356dc, #ff79da);
    color: #ffffff;
    margin-top: 15px;
    border: none;
    @include box-shadow(0 4px 4px 0 rgba(0, 0, 0, 0.2));
  }

  /*.hero__button:hover {
    background: linear-gradient(360deg, #ff79da, #9356dc);
  }*/
}

.fonctionnement {
  padding: 55px 0;
  h2 {
    margin: 0;
  }
}

.fonctionnement__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: $color-grey-2;
  ol {
    text-align: center;
    padding: 0;
    list-style: none;
    width: 89.5%;
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: none;
      height: 72.38px;
      background-color: $color-grey-darken;
      margin-top: 20px;
      @include box-shadow(0 8px 8px 0 rgba(0, 0, 0, 0.1));
    }
    i {
      position: relative;
      right: 20px;
    }
    p {
      position: relative;
      border-radius: 24px;
      font-size: 14px;
      right: 78px;
      padding: 2px 6.5px;
      background-color: $color-primary;
      color: $color-grey;
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-grey;
  /*height: 1058px;*/
  padding-bottom: 40px;
  .restaurants__title {
    width: 100%;
    margin-top: 50px;
    h2 {
      padding: 0 20px;
      margin: 1px 0;
    }
  }
  &__choice img {
    border-radius: 20px 20px 0 0;
    width: 346px;
    height: 160px;
    object-fit: cover;
  }

  &__choice__box__card {
    background-color: $color-grey-2;
    border-radius: 20px;
    margin-bottom: 10px;
    & .card-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      box-sizing: border-box;
      padding: 0 15px;
      h3,
      p {
        margin: 5px 0;
      }
    }
  }
}

.new__restaurants {
  top: 35px;
  left: 255px;
}
.new__restaurants-2 {
  top: 286px;
  left: 170px;
}

.new__restaurants,
.new__restaurants-2 {
  position: relative;
  background-color: #99e2d0;
  padding: 6px 11px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #008766;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: black;
  h2 {
    font-family: "Shrikhand", sans-serif;
    font-style: italic;
    font-size: 18px;
    color: white;
  }
  ul {
    margin: 0 0 10px 0;
    padding: 0 20px;
    list-style: none;
    width: 100%;
    color: white;
    li {
      padding: 5px 0;
      .space-list {
        padding-right: 15px;
      }
      .space-list-2 {
        padding-right: 10px;
      }
    }
  }
}
